@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
.container {
  margin: auto;
}

@theme {
  --color-primary_text: #e4e4e4;
  --color-primary_bg: #000000;
  --font-primary_font: "Montserrat";
}

@layer components {
  .afterLiear {
    background: rgb(226, 163, 0);
    background: linear-gradient(
      0deg,
      rgba(226, 163, 0, 0) 100%,
      rgba(226, 149, 0, 1) 100%,
    );
  }
  .background_first {
    background: rgb(65, 65, 65);
    background: linear-gradient(
      0deg,
      rgba(65, 65, 65, 0) 100%,
      rgba(45, 45, 45, 1) 100%,
    );
  }
  .navItem {
    @apply relative text-[18px] font-normal text-primary_text;
  }
  .activeNavItem {
    @apply text-primary_text after:content-[''] after:w-full after:h-1 after:absolute after:-bottom-3 after:left-0 after:bg-[#E29500] after:rounded-lg hover:after:w-full;
  }
}
